# Ignorar arquivos sensíveis
forms/contact.php
assets/vendor/php-email-form/php-email-form.php

# Ignorar arquivos de ambiente e senhas
.env
*.log
*.bak

# Ignorar dependências e temporários
vendor/
node_modules/
*.tmp
